<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Add Candidate</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Fist Name"
                      type="text"
                      formControlName="firstname"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Last Name"
                      type="text"
                      formControlName="lastname"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Email address"
                      type="email"
                      formControlName="email"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="password"
                      type="text"
                      formControlName="password"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!--
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Adress" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select matInput placeholder="Select City">
                      <mat-option
                        *ngFor="let city of citys"
                        value="{{ city.value }}"
                        >{{ city.title }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" type="number" />
                  </mat-form-field>
                </div>
              </div> -->
              <!-- <div class="row">
                <div class="col-md-12">
                  <label>About Me</label>
                  <mat-form-field class="example-full-width">
                    <textarea
                      matInput
                      placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."
                    ></textarea>
                  </mat-form-field>
                   <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> 
                </div>
              </div> -->
              <button
                mat-raised-button
                (click)="onSubmit()"
                class="btn btn-info pull-right"
              >
                Add
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
